<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "PixelSmash", suffix: " · Spawnfest 2020" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-white min-h-screen flex flex-col">
    <header>
      <section class="container flex flex-row items-center">
        <h1 class="flex">
          <div class="flex-auto text-center font-bold text-3xl px-4 py-12">
            Welcome to PixelSmash Arena!
          </div>
          <div class="flex-auto px-4 py-3">
            <a href="/" >
              <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Pixel Smash Logo"/>
            </a>
          </div>
        </h1>
        <nav role="navigation" class="flex-auto px-4 py-3">
          <%= render "_user_menu.html", assigns %>
          <ul>
          </ul>
        </nav>
      </section>
    </header>
    <div class="fleg-grow flex flex-col">
      <%= @inner_content %>
    </div>

    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <p style="text-align:center">
        <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
      </p>
    <% end %>
  </body>
</html>
