<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "PixelSmash", suffix: " · Spawnfest 2020" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-black min-h-screen flex flex-col">
    <header>
      <section class="container flex flex-row items-center justify-center mx-auto">
        <h1 class="flex">
          <div class="flex-auto px-4 py-3">
            <a href="/" >
              <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Pixel Smash Logo" style="margin-left: auto; margin-right: auto; display: block; width: 37%;"/>
            </a>
          </div>
          <nav role="navigation" class="text-white py-10">
            <%= render "_user_menu.html", assigns %>
          </nav>
        </h1>
      </section>
    </header>

    <div class="flex-grow flex flex-col">
      <%= @inner_content %>
    </div>

    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <p class="text-center mt-3 text-gray-100 bg-gray-900">
        <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
      </p>
    <% end %>
  </body>
</html>
